# macOS
.DS_Store

# Node.js
node_modules/

# Logs and OS-specific clutter
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDEs and editors
.vscode/
.idea/
*.swp

# Obsidian
.obsidian/
*/.obsidian/
**/.obsidian/

# Video processing temporary files
process_video/*.mp4
process_video/*.MOV
process_video/*.mov
process_video/palette.png

# Generated music files (only allow MP3s for web)
public/music/*.wav
public/music/*.webm
public/music/*.gif


